<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Tutorial Vue.js</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" href="node_modules/sweetalert2/dist/sweetalert2.min.css" />
    <link rel="stylesheet" href="css/style.css" />
</head>
<body>
<div class="container" id="app">
    <div class="row">
        <div class="col-md-12">
            <h1>
                {{ title }}
                <small v-html="this.$options.filters.statusBills(billsUnpaid, billsCount)" class="alert pull-right"
                       :class="{
                       'well well-sm alert alert-default text-muted': billsCount == 0,
                       'alert alert-danger text-danger': billsUnpaid > 0,
                       'alert alert-success text-success': (billsCount > 0 && billsUnpaid == 0)
                       }">
                </small>
            </h1>
            <nav>
                <ul class="nav nav-pills">
                    <li v-for="o in menus">
                        <a href="#" @click.prevent="showView(o.id)">{{ o.name }}</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div v-if="activedView == 0">
                <table class="table table-hover table-bored">
                    <thead>
                        <tr>
                            <th class="text-center">#</th>
                            <th class="text-center">Vencimento</th>
                            <th class="text-center">Nome</th>
                            <th class="text-center">Valor</th>
                            <th class="text-center">Paga?</th>
                            <th class="text-center">Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-if="billsCount == 0">
                            <td colspan="6" class="text-center text-muted">Nenhuma conta cadastrada</td>
                        </tr>
                        <tr v-else v-for="(o, index) in bills">
                            <td class="text-center">{{ index + 1 }}</td>
                            <td class="text-center">{{ o.date_due }}</td>
                            <td class="text-center">{{ o.name }}</td>
                            <td class="text-center">{{ o.value | currency('pt-br') }}</td>
                            <td class="text-center">
                                <div class="checkbox" :class="{'text-success': o.done, 'text-danger': !o.done}">
                                    <label>
                                        <input type="checkbox" v-model="o.done"> {{ o.done | doneLabel }}
                                    </label>
                                </div>
                            </td>
                            <td width="200" class="text-center">
                                <a href="#" class="btn btn-sm btn-primary" @click.prevent="loadBill(o)"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Editar</a>
                                <a href="#" class="btn btn-sm btn-danger" @click.prevent="delBill(index)"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Deletar</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <smal class="well well-sm pull-right">Total de Contas: {{ billsCount }}</smal>
            </div>
            <div v-if="activedView == 1">
                <form name="form" @submit.prevent="submit">
                    <legend>{{ legendForm }}</legend>
                    <div class="form-group">
                        <label for="vencimento">Vencimento</label>
                        <input type="text" class="form-control" name="vencimento" id="vencimento" v-model="bill.date_due" placeholder="Ex: dd/mm/yyyy" />
                    </div>
                    <div class="form-group">
                        <label for="name">Nome</label>
                        <select name="name" id="name" class="form-control" v-model="bill.name">
                        	<option value="">-- Selecionar --</option>
                        	<option v-for="name in names" :value="name">{{ name }}</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="valor">Valor</label>
                        <input type="text" class="form-control" name="valor" id="valor" v-model="bill.value" />
                    </div>
                    <button type="submit" class="btn btn-success btn-block"><span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span> Salvar</button>
                </form>
            </div>
        </div>
    </div>
</div> <!-- // end app -->

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript" src="node_modules/sweetalert2/dist/sweetalert2.min.js"></script>
<script type="text/javascript" src="node_modules/numeral/min/numeral.min.js"></script>
<script type="text/javascript" src="node_modules/numeral/min/locales.min.js"></script>
<script type="text/javascript" src="node_modules/vue/dist/vue.min.js"></script>
<script type="text/javascript" src="js/app.js"></script>
</body>
</html>